nltk
wheel
ipython
pandas
PyYAML
scikit-learn
torch==1.8.1 torchvision==0.9.1 torchaudio==0.8.1 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torchtext==0.9.1
pytorch-lightning
tqdm
scipy
numpy
Cython
transformers>=3.0.0,<3.1.0
tensorflow==2.4
