nltk
ipython
pandas
PyYAML
scikit-learn
torch==1.8.1+cu102 torchvision==0.9.1+cu102 torchaudio==0.8.1 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torchtext==0.9.1
tqdm
scipy
numpy
Cython
